{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite' "vendor/font-awesome/css/font-awesome.css" "bundles/bangpoundcastlesearch/css/style.scss" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {% javascripts "bundles/fosjsrouting/js/router.js" "bundles/cypressangularngrouting/ng-router.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "cypress.NgRouter.setData"}) }}"></script>
    <script>
        var castle = {
            typeNames: {{ castle_type_names | json_encode | raw }}
        };
    </script>
{% endblock %}

{% block body %}
    <div ng-app="castleSearch">
        <div{{ block('body_controller') }}>
            {% block navbar %}{% endblock %}
            <div class="container">
                {% block header %}{% endblock %}
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}{% endblock %}
{% endblock %}
