{% extends "@BangpoundCastleSearch/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    "vendor/dangle/css/dangle.css"
    %}<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script>
        var castle = {
            serverUrl: {{ ('http://localhost:9200/production') | json_encode | raw }},
            basepath: {{ 'bundles/bangpoundcastlesearch' | json_encode | raw }}
        };
    </script>
    {% javascripts
    %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Castle</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div><!-- /.navbar-collapse -->
    </nav>
{% endblock %}

{% block header %}
    <h1 class="pagetitle">
        Search R-Shief
    </h1>
{% endblock %}

{% block footer %}
{% endblock %}

{% block content %}
    {{ form(form) }}
{% endblock %}
