{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite' "vendor/font-awesome/css/font-awesome.css" "bundles/rshiefkal3a/css/style.scss" %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {% javascripts "bundles/fosjsrouting/js/router.js" "bundles/cypressangularngrouting/ng-router.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "cypress.NgRouter.setData"}) }}"></script>
    <script>
        var castle = {
            typeNames: {{ castle_type_names | json_encode | raw }}
        };
    </script>
{% endblock %}

{% block body %}
    <div ng-app="castleSearch">
        <div{{ block('body_controller') }}>
            {% block navbar %}
                <header class="rshief-header">
                    <div class="main-nav">
                        <button type="button" class="navbar-toggle" id="showLeftPush">
                            <i class="icon-reorder"></i>
                        </button>

                        <a class="navbar-brand" href="http://r-shief.org">
                            {% image '@RshiefKal3aBundle/Resources/public/images/star.png' %}
                            <img src="{{ asset_url }}" alt="R-Shief">
                            {% endimage %}
                        </a>

                        <div class="nav-collapse collapse in navbar-responsive-collapse">
                            <nav id="nav" class="menu-global-container">
                                <ul id="menu-global" class="nav navbar-nav">
                                    <li id="menu-item-1192"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1192">
                                        <a title="Search" href="http://kal3a.r-shief.org/search">Search</a></li>
                                    <li id="menu-item-13"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a
                                                title="About" href="http://r-shief.org/about/">About</a></li>
                                    <li id="menu-item-11"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11"><a
                                                title="Blog" href="http://r-shief.org/blog/">Blog</a></li>
                                    <li id="menu-item-164"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
                                        <a title="Visualizers" href="http://r-shief.org/visualizers/">Visualizers</a>
                                    </li>
                                    <li id="menu-item-1181"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1181 dropdown">
                                        <a title="Text Analysis" href="#" data-toggle="dropdown"
                                           class="dropdown-toggle">Text Analysis <span class="caret"></span></a>
                                        <ul role="menu" class=" dropdown-menu">
                                            <li id="menu-item-1191"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1191">
                                                <a title="Arabic Entity Extraction Engine Demo"
                                                   href="http://r-shief.org/text-analysis/entity-extraction-demo/">Arabic
                                                    Entity Extraction Engine Demo</a></li>
                                            <li id="menu-item-1203"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1203">
                                                <a title="Arabic Entity Extraction API Documentation"
                                                   href="http://r-shief.org/text-analysis/arabic-entity-extraction-api-documentation/">Arabic
                                                    Entity Extraction API Documentation</a></li>
                                            <li id="menu-item-1199"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1199">
                                                <a title="Arabic Sentiment"
                                                   href="http://r-shief.org/text-analysis/arabic-sentiment-api/">Arabic
                                                    Sentiment</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-185"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-185">
                                        <a title="Index" href="http://r-shief.org/index/">Index</a></li>
                                    <li id="menu-item-1180"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1180">
                                        <a title="Under Development" href="http://r-shief.org/under-development/">Under
                                            Development</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.nav-collapse -->

                        <ul class="nav navbar-nav social-nav visible-lg pull-right">

                            <li class="divider-vertical"></li>
                            <li><a href="http://sandbox.r-shief.org/register">Register</a></li>
                            <li class="divider-vertical"></li>
                            <li><a href="#login-modal" data-toggle="modal">Login</a></li>
                        </ul>
                    </div>
                </header>
            {% endblock %}
            <section id="pagetop">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {% block header %}{% endblock %}
                        </div>
                    </div>
                </div>
            </section>
            <section id="pagemain">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </div>
    </div>
    {% block footer %}
        <footer class="global">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12">
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <ul class="list-inline">
                            <li><a href="https://twitter.com/rshief" target="_blank" title="R-Shief on Twitter">Twitter</a></li>
                            <li><a href="https://www.facebook.com/RShief" target="_blank" title="R-Shief on Facebook">Facebook</a></li>
                            <li><a href="http://github.com/rshief" target="_blank" title="R-Shief on Github">Github</a></li>
                            <li><a data-toggle="modal" href="#contact-modal" title="Contact Us" target="_blank"><i class="glyphicon glyphicon-envelope"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    {% endblock %}
    <section class="copyright">
        <div class="container">
            <p>R-Shief, Inc © 2013</p>
        </div>
    </section>
{% endblock %}
