{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/rshiefkal3a/css/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" type="text/css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700" type="text/css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" type="text/css" rel="stylesheet" />
    <style>
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script>
        var castle = {
            typeNames: {{ castle_type_names | json_encode | raw }}
        };
    </script>
{% endblock %}

{% block body %}
    <div ng-app="castleSearch">
        <div{{ block('body_controller') }}>
            {% block navbar %}

                <header class="rshief-header">
                	<div class="container">
                    <div class="main-nav">
                        <button type="button" class="navbar-toggle" id="showLeftPush">
                            <i class="icon-reorder"></i>
                        </button>



                        <div class="nav-collapse collapse in navbar-responsive-collapse">
                            <nav id="nav" class="menu-global-container">
                            	<ul id="menu-global" class="nav social-nav navbar-nav pull-left">
                                    <li>
                                        <a title="Twitter" target="_blank" href="http://twitter.com/rshief"><i class="fa fa-twitter"></i></a>
                                     </li>
                                     <li>
                                        <a title="Facebook" target="_blank" href="http://facebook.com/rshief"><i class="fa fa-facebook"></i></a>
                                     </li>
                                      <li>
                                        <a title="Github" target="_blank" href="https://github.com/R-Shief/"><i class="fa fa-github-alt"></i></a>
                                     </li>

                                </ul>
                                <ul id="menu-global" class="nav navbar-nav pull-right">
                                    <li id="menu-item-1192"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1192">
                                        <a title="Home" href="http://r-shief.org">Home</a></li>
                                    <li id="menu-item-13"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13"><a
                                                title="About" href="http://r-shief.org/about/">About</a></li>
                                    <li id="menu-item-11"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11"><a
                                                title="Tools" href="http://r-shief.org/tools/">Tools</a></li>
                                    <li id="menu-item-164"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
                                        <a title="Projects" href="http://r-shief.org/projects/">Projects</a>
                                    </li>

                                    <li id="menu-item-185"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-185">
                                        <a title="Archive" href="http://r-shief.org/archive/">Archive</a></li>
                                    <li id="menu-item-1180"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1180">
                                        <a title="Blog" href="http://r-shief.org/blog/">Blog</a></li>
                                    <li><a title="Community" href="http://r-shief.org/community">Community</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- /.nav-collapse -->


                    </div>
                    </div>
                </header>
            {% endblock %}
            <section id="pagetop">
                <div class="container">
                            {% block header %}{% endblock %}
                </div>
            </section>
            <section id="pagemain">
                <div class="container">
                    {% block content %}{% endblock %}
                </div>
            </section>
        </div>
    </div>
    {% block footer %}
        <footer class="global">
		    <div class="container">
		
				<div class="row">
			    	<div class="col-lg-3 col-sm-6 col-12">
			        	<div class="widget">
				        	<h6 class="sectiontitle">R-Shief</h6>
				        	<ul>
				        		<li><a href="http://r-shief.org/">Home</a></li>
				        		<li><a href="http://r-shief.org/about">About</a></li>
				        		<li><a href="http://r-shief.org/tools">Tools</a></li>
				        		<li><a href="http://r-shief.org/projects">Projects</a></li>
				        		<li><a href="http://r-shief.org/archive">Archive</a></li>
				        		<li><a href="http://r-shief.org/blog/">Blog</a></li>
				        		<li><a href="http://r-shief.org/community/">Community</a></li>
				        	</ul>
			        	</div>
			        </div>
			        
			        <div class="col-lg-3 col-sm-6 col-12">
			            <div class="widget">
				        	<h6 class="sectiontitle">On the Blog</h6>
				        	<ul>
					        	<li><a href="http://r-shief.org/category/articles/"><i class="fa fa-folder-o"></i> Articles</a></li>
					        	<li><a href="http://r-shief.org/category/data-visualization/"><i class="fa fa-folder-o"></i> Data Visualization</a></li>
					        	<li><a href="http://r-shief.org/category/vieos/"><i class="fa fa-folder-o"></i> Videos</a></li>
				        	</ul>
			        	</div>
			        </div>
			        
			        <div class="col-lg-3 col-sm-6 col-12">
			            
			        </div>
			        
			        <div class="col-lg-3 col-sm-6 col-12">
			        	
			        	<div class="widget">
				        	<h6 class="sectiontitle">Subscribe to our Mailing List</h6>
				        	<div id="mc_embed_signup">
							  <form action="http://vjumamel.us4.list-manage.com/subscribe/post?u=6b92581f0cc42e1788e1e7632&amp;id=49e15ae11a" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate> 
							    <div class="mc-field-group">
							      <div class="input-group">
							        <input type="email" value="" name="EMAIL" class="required email form-control" placeholder="Email Address" id="mce-EMAIL">
							        <span class="input-group-btn">
							          <button class="btn btn-default" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" type="submit">Subscribe</button>
							        </span>
							      </div>
							    </div>
							    <div id="mce-responses" class="clear">
							      <div class="response" id="mce-error-response" style="display:none"></div>
							      <div class="response" id="mce-success-response" style="display:none"></div>
							    </div> 
							  </form>
							</div>
			        	</div>
			        	
			        </div>
				</div>
		                
			</div>  <!-- END .row-->
		</footer>
    {% endblock %}
    <section class="copyright">
		<div class="container">
			<p><strong>R-Shief, Inc &copy; 2014</strong></p>	
		</div>
	</section>
{% endblock %}
