{% extends 'base.html.twig' %}

{% block body %}
    <h1>StreamParameters list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for streamParameter in streamParameters %}
            <tr>
                <td><a href="{{ path('streamparameters_show', { 'id': streamParameter.id }) }}">{{ streamParameter.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('streamparameters_show', { 'id': streamParameter.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('streamparameters_edit', { 'id': streamParameter.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('streamparameters_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
