{% extends "@BangpoundCastleSearch/layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    "vendor/dangle/css/dangle.css"
    %}<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />{% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% javascripts
    %}<script type="text/javascript" src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% form_theme form _self %}

{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}

{%- block submit_widget -%}
    {% spaceless %}
        {% set type = type|default('submit') %}
        {{ block('button_widget') }}
    {% endspaceless %}
{%- endblock submit_widget -%}

{%- block button_widget -%}
    {% spaceless %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain)|raw }}</button>
    {% endspaceless %}
{%- endblock button_widget -%}

{%- block navbar -%}
    {{- parent() -}}
<div class="global-search active">
    <div class="search-logo"><a href="/"><img src="bundles/rshiefkal3a/images/rshief-gray.png" alt="R-Shief"></a></div>
    {{- form_start(form) -}}
    {% spaceless %}
        <div class="btn-group">
            <a class="search-info" title="Search Help" data-toggle="modal" data-target="#search-help">
                <i class="glyphicon glyphicon-question-sign"></i>
            </a>
        </div>
    {% endspaceless %}
        {{- form_errors(form) -}}
        {{- form_row(form.queryTerm) -}}
        {{- form_row(form.published_lower) -}}
        {{- form_row(form.published_upper) -}}
        {{- form_widget(form.search) -}}
    {{- form_end(form) -}}
</div>
{%- endblock -%}

{% block header %}
    <h1 class="pagetitle">
        Search R-Shief
    </h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {{ block('main') }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{ block('first_sidebar') }}
        </div>
        <div class="col-md-6">
            {{ block('second_sidebar') }}
        </div>
    </div>
{% endblock %}

{% block main %}
{% endblock %}

{% block first_sidebar %}
    {{ sonata_block_render({
        'type': 'bangpound_castle_search.block.date_view',
        'settings': {
            'title': 'Daily',
            'body': 'Count of items per day for last week.',
            'design_document': 'stats',
            'view': 'daily',
            'reduce': true,
            'group': true,
            'descending': true,
            'limit': 7,
            'group_level': 3
        }
    }) }}
    {{ sonata_block_render({
        'type': 'bangpound_castle_search.block.date_view',
        'settings': {
            'title': 'Hourly',
            'body': 'Count of items per hour for last 24 hours.',
            'design_document': 'stats',
            'view': 'daily',
            'reduce': true,
            'group': true,
            'descending': true,
            'limit': 24,
            'group_level': 4,
            'date_format': 'H:i'
        }
    }) }}
{% endblock %}

{% block second_sidebar %}
    {{ sonata_block_render({
        'type': 'bangpound_castle_search.block.view',
        'settings': {
            'title': 'Collections',
            'body': 'Count of items in each collection.',
            'design_document': 'stats',
            'view': 'collection',
            'reduce': true,
            'group': true,
            'group_level': 1,
        }
    }) }}
    {{ sonata_block_render({
        'type': 'bangpound_castle_search.block.top_tag_view',
        'settings': {
            'title': 'Today',
            'body': 'Top tags for today.',
            'design_document': 'stats',
            'view': 'top_tag',
            'list': 'top',
            'reduce': true,
            'group': true,
            'group_level': 4,
            'startkey': [ (date() | date('Y')) + 0, (date() | date('m')) + 0, (date() | date('d')) + 0 ],
            'endkey': [ (date('+1 day') | date('Y')) + 0, (date('+1 day') | date('m')) + 0, (date('+1 day') | date('d')) + 0 ],
            'template': 'BangpoundCastleSearchBundle:Block:block_view_top_tag.html.twig'
        }
    }) }}
    {{ sonata_block_render({
        'type': 'bangpound_castle_search.block.top_tag_view',
        'settings': {
            'title': 'Yesterday',
            'body': 'Top tags for yesterday.',
            'design_document': 'stats',
            'view': 'top_tag',
            'list': 'top',
            'reduce': true,
            'group': true,
            'group_level': 4,
            'startkey': [ (date('-1 day') | date('Y')) + 0, (date('-1 day') | date('m')) + 0, (date('-1 day') | date('d')) + 0 ],
            'endkey': [ (date() | date('Y')) + 0, (date() | date('m')) + 0, (date() | date('d')) + 0 ],
            'template': 'BangpoundCastleSearchBundle:Block:block_view_top_tag.html.twig'
        }
    }) }}
{% endblock %}
