<div class="panel panel-default">
    {% if settings.title %}
        <div class="panel-heading">{{ settings.title }}</div>
    {% endif %}
    {% if settings.body %}
        <div class="panel-body">{{ settings.body }}</div>
    {% endif %}
    {% block block_body %}
        <table class="table table-condensed">
        {% for result in results %}
            <tr>
                <th><a href="{{ url('bangpound_castle_search_result', { 'collection': result.key | lower }) }}">{{ result.label }}</a></th>
                <td class="text-right">{{ result.value|number_format }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endblock %}
</div>
